<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="arm_id" default="panda"/> <!-- Name of this panda -->
  <xacro:arg name="hand" default="false"/> <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="robot_ip" default=""/> <!-- IP address or hostname of the robot" -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="world_to_base_xyz" default="0 0 0"/> <!-- world to base translation -->
  <xacro:arg name="world_to_base_rpy" default="0 0 0"/> <!-- world to base orientation -->

  <link name="world">
    <visual>
      <geometry>
         <box size="0.1 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
         <box size="0.1 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <xacro:include filename="$(find franka_description)/robots/common/panda_arm.xacro"/>
  <xacro:panda_arm arm_id="$(arg arm_id)" description_pkg="viz/models/franka_panda/" connected_to="world" rpy="$(arg world_to_base_rpy)" xyz="$(arg world_to_base_xyz)" safety_distance="0.03"/>

  <xacro:if value="$(arg hand)">
    <xacro:include filename="$(find franka_description)/robots/common/hand.xacro"/>
    <xacro:hand ns="$(arg arm_id)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id)_link8" safety_distance="0.03"/>
  </xacro:if>
  <xacro:include filename="$(find franka_description)/robots/real/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control ns="$(arg arm_id)" robot_ip="$(arg robot_ip)" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)"/>
</robot>
